# Database
# Use a file-based SQLite database
DATABASE_URL="sqlite:///./mini_google_drive.db"

# Security
# Generate a secure secret key. You can use: openssl rand -hex 32
SECRET_KEY="<A_VERY_SECRET_KEY>"
ALGORITHM="HS256"
ACCESS_TOKEN_EXPIRE_MINUTES=30
